<!-- footer.html -->
<footer class="bg-dark text-white pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>About Us</h5>
                <p>We are committed to providing the best accommodation services in the industry.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'contact' %}" class="text-white" style="text-decoration: none;">Email Us</a></li>
                    <li><a href="#" class="text-white" style="text-decoration: none;">Support</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com" class="text-white" style="text-decoration: none;">Facebook</a></li>
                    <li><a href="https://www.twitter.com" class="text-white" style="text-decoration: none;">Twitter</a></li>
                    <li><a href="https://www.instagram.com" class="text-white" style="text-decoration: none;">Instagram</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a></li>
                    <li><a href="#" class="text-white" style="text-decoration: none;">Terms of Service</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <footer class="bg-dark py-3">
                <p class="text-center text-white mb-0">All Rights Reserved 2024. OYO CLONE |
                    <a href="{% url 'login_vendor' %}" class="text-decoration-none text-white">Login Vendor</a> |
                    <a href="{% url 'register_vendor' %}" class="text-decoration-none text-white">Register Vendor</a>
                </p>
            </footer>
        </div>
    </div>
</footer>